* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
  appearance: none;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Lucida", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  padding: 16px;
  margin: 150px auto;
}