* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
  appearance: none;
  outline: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Lucida", sans-serif;
  background-color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}

h1,h2,h3,h4,h5 {
  color: var(--white);
  font-weight: 900;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  padding: 16px;
  margin: 150px auto;
}

.element {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding-top: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &-title {
    font-size: 24px;
    line-height: 29px;
  }
}

.link {
  text-decoration: none;
  color: var(--blue);
  position: relative;
  width: fit-content;
  &::after {
    content: "";
    right: -10px;
    position: absolute;
    background-position: center;
    width: 4.5px;
    background-repeat: no-repeat;
    background-image: url("@/assets/images/link.svg");
    top: 0;
    bottom: 0;
  }
}