:root {
  // Цвета
  --blue: #46A4F6;
  --gray: #A1A1AA;
  --white: #F5F5F7;
  --black: #111215;
  --green: #05FA1A;
  --yellow: #faa005;
  --red: #fa1505;
  --dark-gray: rgba(255, 255, 255, 0.05);
  --light-gray: rgba(255, 255, 255, 0.2);
}